 body{
      background-color: brown;
      box-sizing: border-box;
    }

    .container{
      min-height: 150px;
      width: 50%;
      text-align: center;
      margin: 50px auto;
      border: 20px groove white;
      border-radius:10px ;
      padding: 20px;
    }
    button{
      height: 70px;
      width: 25%;
      margin: 0 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;
      transition: all ease .5s;
      box-shadow:0 2px 5px 0px black  ;
      cursor: pointer;
    }
    .images-ch{
      height: 60px;
      
    }
    button:hover{
      transform: scale(1.1);
      transition: all ease .5s;
      box-shadow:0 4px 10px 0px black  ;
    }
    #display{
      min-height: 80px;
      width: 96%;
      border-radius: 10px;
      border: none;
      box-shadow: inset 0 0 10px 1px ;
      margin: 15px 2%;
      background-color: white;
      padding: 20px;
      box-sizing: border-box;
      font-weight: bold;
    }
    #score{
      color: white;
      font-weight: bolder;
      /* border: 2px solid white; */
      /* margin-top: 5px; */
      padding: 5px;
      border-radius: 5px;
    }


    